
.form {
  margin: 0;
}

.form__fieldset {
  border: none;
}

.form__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  display: block;
}

.form__input {
  background: #ffffff;
  border: 1px solid #838383;
  border-radius: 4px;
  width: 385px;
  height: 60px;
  margin-bottom: 32px;
}

.form__button {
  font-family: "Inter" ;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  margin-bottom: 32px;
  height: 60px;
  width: 385px;
  border-radius: 4px;
  opacity: 100%;
  transition: opacity .5s ease;
  border: none;
}

.form__button:hover {
  opacity: 70%;
}


.form__input::placeholder {
  font-family: "Inter" ;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding: 18px;
}

.form__checkbox {
  background-color: #2f80ed;
  border-radius: 2px;
  margin-right: 12px;
  vertical-align: middle;
  width:20px;
  height:20px;
}

.form__label[type="checkbox"] {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: inline;
  vertical-align: middle;
  margin-top: 32px;
  margin-bottom: 120px;
}