.menu{
  height: 100vh;
  background-color: #fff;
  background-image: url("../images/background_menu.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ebdfdf;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 100px auto 0;
  max-width: 780px;
  text-align: center;
  padding: 3px;
}

.menu__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 24px auto 0;
  max-width: 780px;
  text-align: center;
  padding: 3px;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 100px auto 100px;
  row-gap: 100px;
  column-gap: 100px;
  padding: 3px;
}
