.nav {
  display: flex;
  align-items: center;
}

.nav__links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 80px 0 auto;
  column-gap: 20px;
  list-style-type: none;
  padding: 0px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-family: "Inter", Arial, 'sans-serif';
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
   color: #2F80ED;
}
