.page{
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header{
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  height: 100vh;
  background-position: center;
  position: relative;
  background-size: cover;
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;
}

.logo{
  width: 125px;
  height: 142px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.nav__links{
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: space-between;
  right: 80px;
  top: 20px;
  column-gap: 20px;
  list-style-type: none;
  padding: 0px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.header__span-accent {
  font-family: "Noto Serif", Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2F80ED;
}

.header__title {
  margin-top: 252px;
  margin-left: 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  max-width: 729px;
}

.header__description {
  font-family: "Noto Serif", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
  margin-top: 28px;
  max-width: 683px;
}

.header__image {
  z-index: 1;
  max-width: 646px;
  max-height: 568px;
  display: flex;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__paragraph {
  margin: 0;
  position: absolute;
  left: 80px;
  bottom: 40px;
}

.header__paragraph-item {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__address {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
  position: absolute;
  right: 80px;
  bottom: 40px;
}

.recipes{
  height: 100vh;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  margin-top: 100px;
  margin-left: 80px;
  max-width: 580px;
  padding: 0;

}

.recipes__subtitle {
  font-family: "Noto", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  margin-left: 80px;
  max-width: 438px;
  color: #ffffff;
  padding: 0;
}

.recipes__videos {
  margin-top: 80px;
  margin-bottom: 215px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 40px;
}

.recipes__iframe {
   width: 480px;
   height: 273px;
   border: 0;
   display: flex;
   margin: 0;
}

.recipes__video-caption {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
  list-style-type: none;
  padding: 0;
}


.reservation{
  height: 100vh;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #D9E7FF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.reservation__title {
  font-family: "Inter" ;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 100px;
  margin-bottom: 80px;
}

.reservation__form {
 border: none;
 margin: 0;
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
}

.form {
  margin: 0;
}

.form__fieldset {
  border: none;
}

.form__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  display: block;
}

.form__input {
  background: #ffffff;
  border: 1px solid #838383;
  border-radius: 4px;
  width: 385px;
  height: 60px;
  margin-bottom: 32px;
}

.form__button {
  font-family: "Inter" ;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  margin-bottom: 32px;
  height: 60px;
  width: 385px;
  border-radius: 4px;
  opacity: 100%;
  transition: opacity .5s ease;
  border: none;
}

.form__button:hover {
  opacity: 70%;
}


.form__input::placeholder {
  font-family: "Inter" ;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding: 18px;
}

.form__checkbox {
  background-color: #2f80ed;
  border-radius: 2px;
  margin-right: 12px;
  vertical-align: middle;
  width:20px;
  height:20px;
}

.form__label[type="checkbox"] {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: inline;
  vertical-align: middle;
  margin-top: 32px;
  margin-bottom: 120px;
}



.menu{


}
.about{


}

.footer{

}